@font-face {
    font-family: 'Graphik-Medium';
    src: url('../font/Graphik-Medium.eot');
    src: url('../font/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Graphik-Medium.woff2') format('woff2'),
        url('../font/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url('../font/Graphik-Regular.eot');
    src: url('../font/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Graphik-Regular.woff2') format('woff2'),
        url('../font/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik-Semibold';
    src: url('../font/Graphik-Semibold.eot');
    src: url('../font/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/Graphik-Semibold.woff2') format('woff2'),
        url('../font/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik-Bold';
    src: url('../font/Graphik-Bold.eot');
    src: url('../font/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Graphik-Bold.woff2') format('woff2'),
        url('../font/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro-Regular';
    src: url('../font/AmsiPro-Regular.eot');
    src: url('../font/AmsiPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/AmsiPro-Regular.woff2') format('woff2'),
        url('../font/AmsiPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'AmsiPro';
    src: url('../font/AmsiPro-Black.eot');
    src: url('../font/AmsiPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/AmsiPro-Black.woff2') format('woff2'),
        url('../font/AmsiPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro-Ultra';
    src: url('../font/AmsiPro-Ultra.eot');
    src: url('../font/AmsiPro-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../font/AmsiPro-Ultra.woff2') format('woff2'),
        url('../font/AmsiPro-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'brandonlight';
    src: url('../font/BrandonText-Light.eot');
    src: url('../font/BrandonText-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/BrandonText-Light.woff2') format('woff2'),
        url('../font/BrandonText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'brandonbold';
    src: url('../font/BrandonText-Bold.eot');
    src: url('../font/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/BrandonText-Bold.woff2') format('woff2'),
        url('../font/BrandonText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'brandonregular';
    src: url('../font/BrandonText-Regular.eot');
    src: url('../font/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/BrandonText-Regular.woff2') format('woff2'),
        url('../font/BrandonText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'brandonthin';
    src: url('../font/BrandonText-Thin.eot');
    src: url('../font/BrandonText-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/BrandonText-Thin.woff2') format('woff2'),
        url('../font/BrandonText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* --------------------------------  COLOUR & BACKGROUND COLOUR CLASS START --------------------------------  */


.coloutOrng{
    color: #EB8E38;
}

.bgOrange{
    background-color: #EB8E38;
}

.bgRRed{
    background-color: #B8353F;
}

.bgDblue{
    background-color: #15297B;
}

.bgLblue{
    background-color: #58C1A3;
}

.bgYellow{
    background-color: #F8CC6A;
}



/* --------------------------------  COLOUR & BACKGROUND COLOUR CLASS END --------------------------------  */







/* --------------------------------  FONT CLASS START --------------------------------  */

.brandonT{
    font-family: 'brandonthin';
}

.brandonL{
    font-family: 'brandonlight';
}

.brandonR{
    font-family: 'brandonregular';
}

.brandonB{
    font-family: 'brandonbold';
}

.AmsiProU{
    font-family: 'AmsiPro-Ultra';
}

.AmsiPro{
    font-family: 'AmsiPro';
}

.AmsiProR{
    font-family: 'AmsiPro-Regular';
}

.GraphikR{
    font-family: 'Graphik-Regular';
}

.GraphikM{
    font-family: 'Graphik-Medium';
}

.GraphikSB{
    font-family: 'Graphik-Semibold';
}

.GraphikB{
    font-family: 'Graphik-Bold';
}


/* --------------------------------  FONT CLASS END --------------------------------  */




/* --------------------------------  SOME GENRAL CLASS START --------------------------------  */


.logo{}
.logo img{height: 60px;}

input{
    border-radius: 0 !important;
}

.listStyleNone li{
    list-style: none;
}
.listStyleNone li a{
    color: #fff;
    text-decoration: none;
}
.wFull{
    width: 100%;
}
.hFull{
    height: 100%;
}

.noFc input:focus{

    box-shadow:none;
    outline: none;
}

.moreB input:focus{

    border-color:rgb(29, 29, 29);
    
}


.noDecor{
    text-decoration: none !important;
}


.text-justify{
    text-align: justify;
}





.tZli{
    list-style: none;
    text-decoration: none !important;
    color: black;
    margin-left: 20px;
}

.dropDown .dropdown-toggle::after{
    display: none;
}

.dropDown .dropdown-menu{
    inset: 10px auto auto 18px !important;
    border-radius: 0;
    padding-left: 23px;
    padding-top: 24px;
    padding-bottom: 21px;
    border: none;
    padding-right: 19px;

}

header .dropDown .dropdown-item{
    padding: 10px 50px 10px 20px;
    text-align: left;
}
header .dropDown .dropdown-item:hover{
    background: var(--bs-gray-200);
}

header .dropDown-menu > li{
    border-bottom: solid 1px #ddd;
}
header .dropDown li:last-child{
    border-bottom: none;
}
header .dropDown .dropdown-menu{
    padding: 10px 0 15px 0;
}

.mTinput input{
    border: none;
    border-bottom: 1px gray solid;
    width: 100%;
}


.mTinput{
    width: 204px;
}



.mTsearchIcon{
    position: absolute;
    right: 4px;
    top: 6px;
}



.myBtn{
    background-color: #15297B;
    font-family: 'AmsiPro-Ultra';
    color: white;
    border: none;
    align-items: center;
}

.clientBg{
    position: absolute;
    bottom: 0;
    right: 0;
}



.rateStar{
    margin: 1px;
}


.fourByfour{
    height: 76px ;
}

.numbtn{
    border: none;
    width: 400px;
    margin-right: 18px;
    
}


.ipStl input {
    width: 90%;
    height: 50px;
    padding-left: 30px;
}




/* Footer  */

footer {
    padding: 5.5rem 0 4.5rem 0;
    background-color: #2a2b2a;
}

.footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}

.footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
    color: white;
    margin-bottom: 10px;
    font-size: 1rem;
}



.redCI input::placeholder {
        color: rgb(255, 255, 255);
}

.formControl {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    appearance: none;
    /* border-radius: 0.375rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.footerBTN{
    padding: 6px 25px !important;
}
    

.lodBar{
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.31);
}

.lOd1{
    height: 100%;
    width: 90%;
}

.lOd2{
    height: 100%;
    width: 40%;
}

.redPA{
    position: absolute;
    right: 0;
    width: 90vh;
    bottom: -168px;
}

.tSize{
    font-size: 15px;

}


.inputBflow{
    position: absolute;
    bottom: 0px;
    width: calc(100% + 40px);
    right: 0;
}



.inputB1{
    border: none;
    padding-left: 17px;
    width: 60%;
    /* background-color: #dedede; */
    height: 55px;
    margin-right: 15px;
}



.inputB2{
    border: none;
    padding-left: 17px;
    width: 100%;
    margin-right: 15px;
    height: 55px;
}
.inputB3.btn{
    height: 55px;
    padding: 0;
    background: #56c2a3 url(../img/numbtn.svg) 50% 50% no-repeat;
    width: 100px;
    display: block;
    border-radius: 0;
    background-size: cover;
}

.learnWithBest{
    position: relative;
}


.learnWithBest .owl-nav{
    position: absolute;
    top: -102px;
    right: 100px;
    color: white;
    font-size: 68px;
    font-style: unset;
    font-weight: 100;
    line-height: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.learnWithBest .owl-prev span{
    padding-right: 40px !important;
}



.aos-init.bgDblue.inputBflow{
    -webkit-transform: translate3d(0%,0,0) !important;
    transform: translate3d(0%,0,0) !important;
    width: 0%;
}

.aos-animate.aos-init.bgDblue.inputBflow{
    -webkit-transform: translate3d(0%,0,0) !important;
    transform: translate3d(0%,0,0) !important;
    width: 100%;
}


.alphaList ul {
    counter-reset: listStyle;
    columns: 1;
    margin-top: 4.5rem;
    list-style-type: none;
}
  
.alphaList ul li {
    counter-increment: listStyle;
    padding: 12px 0;
    position: relative;
}
  
.alphaList ul li::before {
    position: absolute;
    left: -26px;
    content: counter(listStyle, upper-alpha);
    display: inline-block;
    margin-right: 1.7em;
    width: 29px;
    height: 29px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 50%;
    font-size: 17px;
}

.goodBackground{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainLi ul {
    counter-reset: listStyle;
    columns: 1;
    margin-top: 4.5rem;
    list-style-type: none;
}
  
.mainLi ul li {
    counter-increment: listStyle;
    padding: 12px 0 12px 49px;
    position: relative;
}

 
 
.mainLi ul li::before{
    content: counter(listStyle, count);
    display: inline-block;
    margin-right: 1.7em;
    width: 1.7em;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 50%;
    font-size: 17px;
    position: absolute;
    z-index: 2;
    left: 0;
}
.mainLi ul li:after{
    content: "";
    position: absolute;
    left: 13px;
    top: 16px;
    bottom: -13px;
    width: 2px;
    background-color: rgb(214, 214, 214);
    z-index: 1;
}

.mainLi ul li:last-child:after{
    display: none;
}

.advantagesBar{
    position: absolute;
    right: 0;
    bottom: 0;
}


.advantagesLi ul li::before {
    content: url(../img/tick-icon.svg);
    margin-right: 10px;
    position: absolute;
    left: 0;
}

.advantagesLi ul li {
    list-style: none;
    position: relative;
    padding-left: 34px;
}

.advantagesLi ul{
    padding-left: 0px;
}


.learnersLogoBg{
    height: 126px;
    padding: 35px 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnersLogoBg img{
    height: 100%!important;
}


.ourLearners .owl-nav{
    font-size: 123px;
    position: absolute;
    top: 43px;
    line-height: 0;
    left: -60px;
    width: 110%;
    display: flex;
    justify-content: space-between;
}

.yellowBorder{
    border-left: 36px solid #F8CC6A;
}


.greenTickLi ul li::before {
    content: url(../img/green-tick-icon.svg);
    margin-right: 10px;
    position: absolute;
    left: 0;
}

.greenTickLi ul li {
    list-style: none;
    position: relative;
    padding-left: 34px;
}

.greenTickLi ul{
    padding-left: 0px;
}

.priseList{
    position: absolute;
    bottom: -100px;
}

.mentorshipList ul li::before {
    position: absolute;
    left: -38px;
    content: url(../img/mentorship/li.svg);
    display: inline-block;
    margin-right: 1.7em;
    text-align: center;
}

.mentorshipList ul {
    counter-reset: listStyle;
    columns: 1;
    margin-top: 4.5rem;
    list-style-type: none;
    position: relative;
}
  
.mentorshipList ul li {
    counter-increment: listStyle;
    padding: 12px 0;
}


.getInTouchInput{
    width: 100%;
    border-radius: 0;
    border: 1px solid #0000002e;
    padding: 14px 16px;
    margin-top: 6px
}



.getInTouchForm input:focus{
    border-radius: 0 !important;
    border: 1px solid #000000ad !important;
    outline: none;
}


.getInTouchInputHeight{
    height: 211px!important;
}


.getInTouchInputHeight:focus{
    border-radius: 0 !important;
    border: 1px solid #000000ad !important;
    outline: none;
}

.signIn input{
    width: 100%;
    padding: 12px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
}

.signIn input:focus{
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
}

.posAbs{
    position: absolute;
    bottom: 28px;
    right: 28px;
    color: white;
    padding: 0px 4px;
    border-radius: 41%;
}


.printerIcon{
    position: absolute;
    top: 29px;
    right: 29px;
}



body{
    font-size: 15px;
    background: var(--bs-black) !important;
}
body main{
    background: white;
    transition: ease all .5s;
     
    transform: scale(1) translateX(0%);
    overflow: auto;
    width: 100%;
    height: 100vh;

}
body:not(.smartMenu) main{
    animation: h100 .3s linear forwards;
    animation-delay: 1s;
}
@keyframes h100{
    0%{height:0vh;}
    100%{height:100%;}
}
body.smartMenu main{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: scale(0.8) translateX(-30%);
    transform-origin: left center;
    background: white;
    transition: ease all .5s;
}
body .menu-perpective{
    display: none;
    opacity: 0;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 100px;
    width: 37%;
}
body.smartMenu .menu-perpective{
    display: block;
    animation: opac1 .5s linear forwards;
    animation-delay: .5s;
}
.menu-perpective .close{
    position: absolute;
    right: 10px;
    top: 10px;
}

.mTgirl{
    position: absolute;
    bottom: 70px;
    top: 0;
}

@keyframes opac1 {
    0%{opacity:0;}
    100%{opacity:1;}
}

a.text-decoratin-none{
    text-decoration: none;
    color: inherit;

}

/* desktop */
@media all and (min-width: 992px) {
    
    .mainBanner{
        height: 510px;
    }
}

/* --------------------------------  SOME GENRAL CLASS END --------------------------------  */

/* Mobile View start  */


@media all and (max-width: 991px) {
    .yellowBorder{
        border-left: 14px solid #F8CC6A;
    }
    #allCategories .applyFilters{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #allCategories .close{
        position: fixed;
        background: #000000b8;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        transform: scale(0.8);
    }
    #allCategories{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding: 30px  20px;
}

    .mentorshipPage .courseDetailPageBanner{
        background-position: 75% !important;
    }
    .ipStl input{
        width: 100%;
    }
.clientsLogos{}
.clientsLogos > div{
    display: flex;
    align-items: center;
    min-height: 62px;
    justify-content: center;
}
.clientsLogos > div > img{
    max-height: 32px;
}
    .alphaList ul{
    margin-top: 20px;
}
    .alphaList ul li::before{
        left: -33px;
        width: 22px;
        height: 22px;
        font-size: 80%;
        top: 14px;
    }

    .helpingSection{
        background-position: 38%;
    }
    .becomeCertified .clientRow{
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
    }
    .becomeCertified .clientRow > span{
        width: 50%;
        flex: 0 0 auto;
        display: flex !important;
        justify-content: center;
    }

    .btn.masterSearch{
        padding: 0;
        width: 25px;
        opacity: 0.7;
    }
    .btn.masterSearch img{
         width: 100%;
    }
    .inputB3.btn{
    width: 100%;
    background: #56c2a3;
    height: 45px;
    margin-top: 0;
    position: relative;
}

.inputB3.btn:after{
    content: "Get Offers";
    color: #fff;
    font-family: 'AmsiPro';
    font-size: 110%;
}
    .inputB1, .inputB2{
        height: 45px;
        margin: 0;
        margin-bottom: 10px;
    }
    .flex-xs-wrap{
        flex-wrap: wrap;
    }
    .w-xs-100{
        width: 100% !important;
    }
    .m-xs-0{
        margin: 0 !important;
    }
    .inputBflow{
        position: static;
        bottom: 0px;
        width: auto;
        right: 0;
    }
    .logo img{height: 50px;}

    .mTinput{
        width: auto;
    }

    .makePaymentColReverse{
        flex-flow: column-reverse
    }


    .reverse{
        flex-flow: column-reverse
    }

    .mobBanner{
        width: 100%;
        height: 113px !important;
        object-fit: cover;
        border-radius: 30px 30px 0px 0px;
        margin-bottom: 23px;
        margin-top: 43px;
    }

    .topRounded{
        border-radius: 30px 30px 0px 0px;
    }

    .relatedTrainingProgramsImg{
        width: 100%;
        height: 141px !important;
        object-fit: cover;
        border-radius: 30px 30px 0px 0px;    
    }


    body.smartMenu main{
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        transform: scale(1) translateX(-100%);
        transform-origin: left center;
        background: white;
        transition: ease all .5s;
    }

    body .menu-perpective{
        display: none;
        opacity: 0;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 20px;
    }

    .advantagesBar{
        position: relative;
        right: 0;
        bottom: 0;
    }

    .priseList{
        position: relative;
        bottom: 0;
    }

    .courseDetailPageBanner{
        background-position: 0 !important;
    }

    .numbtn{
        width: 100%;
        
    }

    .clientRow{
        /* flex-direction: column; */
    }

    .clientRow img{
        padding: 17px 0;
        width: 80%;
        max-height: 100px;
        object-fit: contain;
    }

    .owl-nav{
        display: none;
    }

    .redPA{
        position: relative;
        right: 0;
        width: 100%;
        bottom: 0;
    }

    .bgRedInMob{
        background-color: #B8353F !important;
        background-image: none !important;
    }
}



/* Mobile View end  */
.container-custom-fluid{
    width:100%;
    margin:0 auto;
}

.menu-perpective ul{
    padding: 0;
    list-style: none;
}

.menu-perpective .courseOffering li{
    margin-bottom: 5px;
    opacity: 0.8;
}

@media all and (min-width:1350px){
    .container-custom-fluid{
        max-width: 1349px;
    }
}